<!-- Influencer Name + Title -->
<div class="char-text {{ prefix }}-char-text">
	<hr class="{{ prefix }}-topbar">
	<h3 class="char-name {{ prefix }}-char-name">{{{ charContainer.name }}}</h3>
	<h4 class="char-title {{ prefix }}-char-title">{{{ charContainer.title }}}</h4>
</div>	
