<!-- Twitter and Pinterest Share Buttons -->
<div class="cg-social-shares">
	<div class="share-icon {{ populateResponsiveValue twitter.class 767 }}" data-href="{{ twitter.popupLink }}" {{{ twitter.shareGATags }}}></div>
	<div class="share-icon {{ populateResponsiveValue pinterest.class 767 }}" data-href="{{ pinterest.popupLink }}" {{{ pinterest.shareGATags }}}></div>
</div>
