<!-- Split Row Partial -->
<div class="row split-row">
	<!-- Image Column -->
	<div class="col-xs-12 col-sm-6">
		<div class="split-image-container">
			<img src="{{ imageContainer.image }}" alt="{{ charContainer.name }}">
		</div>

		<div class="overlay">
			{{> char }}
		</div>

		{{#with imageContainer }}

		<div class="cg-photo-credit">
		{{#if creditLink }}
		<a href="{{ creditLink }}" {{{ creditGATags }}} target="_blank">{{{ credit }}}</a>
		{{else}}
		{{{ credit }}}
		{{/if}}
		</div>

		{{/with}}
	</div>

	<!-- Text Column -->
	<div class="col-xs-12 col-sm-6">
		{{> text }}
	</div>

</div>