<!-- Mobile Influencer Text + Quotes -->
<div class="text-container {{ prefix }}-text-container">
	<h3 class="text-title {{ prefix }}-text-title">{{{ textContainer.hed }}}</h3>
	<p class="text-quote {{ prefix }}-text-quote">{{{ textContainer.copy }}}</p>
	{{> shares sharesContainer }}
</div>