<div class="ik-preview" data-preview-id={{ id }}>
	<img class="ik-preview-img" src={{ populateResponsiveValue image 767 }} alt="">
	
	<div class="ik-preview-overlay">
		<div class="ik-preview-txt">
			<h2 class="ik-preview-hed">{{{ hed }}}</h2>

			<div class="ik-preview-cta" {{{ ga-tags }}} >
				<span class="text-cta">{{ cta }}</span>
				<span class="icon-thin-arrow ik-arrow-icon only-mobile"></span>
			</div>
		</div>
	</div>
</div>